.return-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../images/others/return btn.png");
  background-size: cover;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
    transform: scale(1.05);
    cursor: pointer;
  }
}
