.game-over {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  .game-over-field {
    width: 500px;
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.75);

    .game-over-text {
      font-size: 70px;
      font-weight: 600;
      letter-spacing: 3px;
      font-style: italic;
      margin-bottom: 50px;
    }

    .score {
      font-size: 30px;
      font-weight: 500;
      font-style: italic;
    }

    .game-over-btns {
      width: 25%;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }

    .return-game-over-btn {
      width: 40px;
      height: 40px;
      margin: 0;
      transform: rotate(30deg);
      transition: opacity, transform 1s, 1s;

      &:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.2) rotate(0);
      }
    }

    .play-again-btn {
      width: 40px;
      height: 40px;
      border-radius: 10px;
      color: white;
      font-size: 20px;
      text-align: center;

      background: url("../../images/others/restart.png");
      background-size: contain;
      background-repeat: no-repeat;

      transition: opacity, transform 1s, 1s;
      opacity: 0.6;

      &:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.2) rotate(30deg);
      }
    }
  }
}