$background-card-color: rgba(164,160,164,0.52);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  //background-image: linear-gradient(to right bottom, #293045, #3b5462, #5d797a, #8a9c93, #bcc0b4);
  background-image: linear-gradient(to bottom, #2d3039, #313c42, #3b4748, #49524d, #5a5c55);
  background-size: inherit;
  background-repeat: no-repeat;
}

//img {
//  width: 200px;
//  height: auto;
//}
.particles-js-canvas-el {
  position: fixed;
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.game_field {
  width: 60vw;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav_panel {
    width: 50%;
    height: 10%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    box-shadow: 1px 4px 20px 0px black;

    .nav_button{
      width: calc(33.33% - 5px);
      height: 100%;
      margin-right: 2px;
      display: flex;
      background-color: rgba(87,255,110,0.33);
      justify-content: center;
      align-items: center;

    }

  }

  .board {
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    //background: rgba(255,251,255,0.33);
    border: 2px solid #3b4748;
    box-shadow: 1px 4px 20px 0px black;


    .card {
      background: $background-card-color;
      //font-size: 40px;
      width: calc(25% - 10px);
      height: calc(33.333% - 10px);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: 0.5s;

      //border: 1px solid white;
      &:hover{
        transform: scale(1.05);
        background: lighten($background-card-color, 20%);
      }
      &:active{
        transform: scale(0.90);
      }

      .front_face, .back_face {
        position: absolute;
        width: 100%;
        height:100%;
        padding:10px;

      }

    }
  }
}


#app {
  display: flex;
  justify-content: center;
}

