*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  width: 200px;
  height: auto;
}
.particles-js-canvas-el {
  position: fixed;
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.game_field {
  width: 80vw;
  height: 80vh;
  margin: 100px auto;

  .nav_panel {
    width: 50%;
    height: 10%;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    margin: 20px auto;
    box-shadow: 1px 4px 20px 0px black;


    .nav_button{
      width:33%;
      height: 100%;
      margin-right: 2px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

  }

  .board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: grey;
    box-shadow: 1px 4px 20px 0px black;


    .card {
      width: 50px;
      height: 75px;
      background: rgba(164,160,164,0.52);
      font-size: 40px;
    }
  }
}


#app {
  display: flex;
  justify-content: center;
}

